<div class="col-md-6 user-container">
    <h2 class="text-center">Edit Story</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Story Title:</label>
        <input type="text" formControlName="title" placeholder="title" name="title" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="title">Story Genre:</label>
        <div>
          <select  formControlName="genre">
          <option value="" disabled>Select a Genre</option>  
          <option *ngFor="let genre of genres" [value]="genre.id">{{genre.name}}</option>
        </select>
      </div>
      </div>
      <button class="btn btn-success">Update</button>
    </form>
  </div>
  